#review {
    .review__nav {
        border: none;
        align-items: baseline;
        justify-content: center;
        .nav-item {
            .nav-link {
                border: none;
                padding: $pd-1 $pd-2;
                @include text($color-black-0, $fs-2, $fw-2);
                transition: all 0.4s;
                &.active {
                    cursor: context-menu;
                    @include text($color-red-primary, $fs-3, $fw-2);
                }
                &:hover {
                    font-size: $fs-3;
                }
            }
        }
    }
    .review-item {
        img {
            border-radius: 4px;
        }
        .title-article {
            text-decoration: none;
            h4 {
                @include text($color-black-0, $fs-1, $fw-2);
                margin: $mg-1 0 $mg-3;
                transition: all 0.3s;
                &:hover {
                    color: $color-red-primary;
                }
            }
        }
        p {
            @include text($color-gray-3, $fs-1 - 2, $fw-1);
        }
        .review-item__like {
            opacity: 0.5;
        }
    }
    .review-list {
        .review-list__item {
            display: flex;
            .banner-movie {
                width: 50px;
                border-radius: 6px;
                margin-right: $mg-1;
                margin-bottom: $mg-1;
            }
            .title-movie {
                text-decoration: none;
                span {
                    @include text($color-black-0, $fs-1, $fw-1);
                    transition: all 0.3s;
                    &:hover {
                        color: $color-red-primary;
                    }
                }
            }
        }
    }
}