@import 'helper/variable.scss';
@import 'helper/mixin.scss';

.payment-scope {
    position: fixed;
    width: 18%;
    height: 100%;
    top:0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 0px 10px 1px rgba($color: $color-black-0, $alpha: 0.3);
    padding: 0 $pd-4;
    .amount {
        text-align: center;
        padding: 17px 0;
        h2 {
            @include text($color-green-4, $fs-4 + 6, $fw-2);
        }
    }
    .info {
        h2 {
            @include text($color-black-0, $fs-1 + 1, $fw-2);
            line-height: $fs-3;
        }
        p {
            margin-bottom: 0px;
            @include text($color-black-0, $fs-1 - 1, $fw-1);
        }
    }
    .seat-statis {
        
        .seats {
            @include text($color-red-primary, $fs-1, $fw-1);
        }
        .seat-total {
            @include text($color-green-4, $fs-1 + 1, $fw-2);
        }
    }
    .email {
        p {
            margin-bottom: 0px;
        }
        &-placeholder {
            @include text($color-gray-primary, $fs-0 + 3, $fw-1);
        }
    }
    .phone {
        p {
            margin-bottom: 0px;
        }
        &-placeholder {
            @include text($color-gray-primary, $fs-0 + 3, $fw-1);
        }
    }
    .discount {
        .discount-placeholder {
            @include text($color-gray-primary, $fs-0 + 3, $fw-1);
        }
        .discount-fill {
            border: none;
            @include text($color-black-0, $fs-1, $fw-1);
            padding: 0px;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
    .bill-method {
        .noti {
            margin-bottom: 0px;
            @include text($color-red-primary, $fs-1 - 2, $fw-1);
        }
    }
    .paycheck {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
        background-color: $color-white-0;
        p {
            img {
                width: 16px;
            }
            @include text($color-gray-2, $fs-1 - 1, $fw-2);
        }
        .paycheck__warn {
            @include text(#f79320, $fs-1 - 1, $fw-2);
        }
    }
    .border-bot {
        border-bottom: 1px dashed rgba($color: $color-gray-3, $alpha: 0.3);
    }
    @include respond-to('lg') {
        padding: 0 $pd-1;
        .paycheck {
            p {
                img {
                    width: 16px;
                }
                @include text($color-gray-2, $fs-1 - 3, $fw-2);
            }
        }
    }
}