@import 'helper/variable';
@import 'helper/mixin';

#register {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/bglogin.jpg');
    background-position: center;
    background-size: contain;
    .register-wrapper {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 35px 30px;
        background-image: linear-gradient(to bottom,rgba(20,50,93,.9),rgba(8,22,48,.9));
        @include text($color-white-0, $fs-1 - 1, $fw-0);
        border-radius: 6px;
    }
    .register-title {
        width: 209px;
        margin-bottom: $mg-4;
    }
    .btn-register {
        width: 100%;
    }
    .login-now {
        text-decoration: none;
        @include text($color-blue-1, $fs-1, $fw-2);
        transition: all 0.3s;
        &:hover {
            color: #174280;
        }
    }
    @include respond-to('sm') {
        .register-wrapper {
            width: 100%;
            height: 100%;
        }
        .btn-close {
            transform: initial;
        }
    }
}