@import 'helper/variable';
@import 'helper/mixin';

#chose-ticket {
    display: block;
    position: relative;
    z-index: 100;
    transform: translateY(-55%);
    .chose-ticket__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $color-white-0;
        box-shadow: 0 0 10px rgba(0,0,0,.4);
        border-radius: 5px;
        .dropdown {
            display: flex;
            justify-content: space-between;
            border-right: 1px solid rgba(238,238,238,.88);
            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $pd-3;
                border: none;
                background-color: $color-white-0;
                &::after {
                    content: none;
                }
                &:focus {
                    outline: none;
                }
                i {
                    color: $color-gray-primary;
                }
            }
            span {
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                text-align: left;
                &.holder-film {
                    width: 220px;
                }
                &.holder-stage {
                    width: 100px;
                }
            }
            .dropdown-menu {
                max-height: 300px;
                overflow: auto;
                .dropdown-item {
                    @include text($color-black-0, $fs-1, $fw-1);
                    transition: all 0.3s;
                    &:hover {
                        cursor: pointer;
                        background-color: $color-blue-0;
                        color: $color-white-0;
                    }
                }
            }
        }
        .film {
            flex: 2;
        }
        .cinema {
            flex: 1;
        }
        .date {
            flex: 1;
        }
        .turn {
            flex: 1;
        }
    }
    @include respond-to('md') {
        display: none;
    }
}