@import 'helper/variable';
@import 'helper/mixin';

.booking {
    padding-top: $pd-4 + 5;
    margin: 80px 18% 0 4%;
    .booking-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cinema-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: 44px;
            }
            .cinema-content {
                p {
                    @include text($color-black-0, $fs-1 + 1, $fw-1);
                    .cinema-brand {
                        @include text($color-green-1, $fs-1 + 1, $fw-1);
                    }
                }
                .start-time {
                    @include text($color-gray-primary, $fs-1 - 1, $fw-1);
                }
            }
        }
        .countdown {
            text-align: center;
            span {
                @include text($color-gray-primary, $fs-0, $fw-2);
            }
            h3 {
                @include text($color-red-primary, $fs-4, $fw-2);
            }
        }
    }
    .seat-section {
        overflow-x: auto;
        .seat-map {
            .screen {
                text-align: center;
            }
            .seat-list {
                // width: 200%;
                .seat-row {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .seat-char {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                    }
                    .seat {
                        width: 30px;
                        height: 30px;
                        background-color: #3e515d;
                        border-radius: 6px;
                        margin: 0 2px;
                        .seat__number {
                            @include text($color-black-0, $fs-1, $fw-1);
                            opacity: 0;
                        }
                    }
                    .seat-blank {
                        min-width: 30px;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .notation {
        display: flex;
        align-items: center;
        justify-content: center;
        .notation-item {
            margin: 0 $mg-3;
            .notation-seat {
                width: 15px;
                height: 15px;
                border-radius: 3px;
                margin: auto;
                margin-bottom: $mg-0;
                &.vip {
                    background-color: #f7b500;
                }
                &.normal {
                    background-color: #3e515d;
                }
                &.select {
                    background-color: $color-green-4;
                }
                &.block {
                    background-color: $color-gray-primary;
                }
            }
            p {
                @include text($color-gray-primary, $fs-0 + 2, $fw-1);
            }
        }
    }

    .bottom-control {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        height: 50px;
        div {
            border-top: 1px solid $color-gray-4;
            text-align: center;
            .seat-string {
                line-height: 50px;
                @include text($color-green-4, $fs-1, $fw-2);
            }
        }
    }

    @include respond-to('sm') {
        margin: 0;
        margin-top: 80px;
        .seat-section {
            .seat-map {
                width: 150%;
            }
        }
    }
}