@mixin text ($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin button ($clor, $bgClor, $fw, $fs, $bdClor, $bdRad, $pdy, $pdx) {
    color: $clor;
    background-color: $bgClor;
    font-weight: $fw;
    font-size: $fs;
    border: 1px solid $bdClor;
    border-radius: $bdRad;
    padding: $pdy $pdx;
}

@mixin movie-tag ($fs, $bgClor, $pdy, $pdx) {
    font-size: $fs;
    color: $color-white-0;
    background-color: $bgClor;
    font-weight: $fw-3;
    border-radius: 5px;
    padding: $pdy $pdx;
    margin-right: $mg-0;
}

@mixin respond-to($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        $value: map-get($map: $breakpoints, $key: $breakpoint);
        @media screen and (max-width: $value - 1) {
            @content;
        }
    }
}