@import 'helper/variable';
@import 'helper/mixin';

#accordion {
    .nav-link {
        padding: 0;
        opacity: 0.4;
        transition: all 0.2s;
        &:hover, &.active {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        display: block;
        width: 90%;
        margin: auto;
        height: 1px;
        background-color: $color-white-1;
    }
    .cinema__stage-item {
        display: flex;
        padding: $pd-3 $pd-2 $pd-2 $pd-3;
        text-decoration: none;
        img {
            width: 50px;
            height: 50px;
        }
        .stage__info {
            .stage__brand {
                @include text($color-green-1, $fs-1 - 1, $fw-2);
                .axx {
                    @include text($color-black-0, $fs-1 - 1, $fw-2);
                }
            }
            .CGV {
                color: #e71a0f;
            }
            .CNS {
                color: #df0d7a;
            }
            .GLX {
                color: #f60;
            }
            .Lotte {
                color: #ca4137;
            }
            .MegaGS {
                color: #e5a813;
            }
            .stage__location {
                @include text($color-gray-3, $fs-0 + 2, $fw-1);
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                text-align: left;
                width: 150px;
            }
            .detail {
                @include text($color-red-primary, $fs-0 + 2, $fw-2);
            }
        }
    }
    .movie__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: none;
        border-top: 1px solid $color-gray-1;
        padding: 10px 40px;
        border-radius: 10px;
        background-color: transparent;
        &:focus {
            outline: none;
        }
        .info-wrapper {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
            span {
                @include text($color-gray-3, $fs-0 + 2, $fw-1);
            }
        }
       
    }
    .time-holer {
        padding: 20px;
        border-radius: 10px;
        background-color: transparent;
        .show-time__item {
            text-decoration: none;
            border: 1px solid $color-gray-4;
            border-radius: 7px;
            padding: $pd-0;
            margin: 0 $mg-0 $mg-0 0;
            background-color: transparent;
            .time-from {
                @include text($color-green-2, $fs-1 + 3, $fw-2);
            }
            .time-to {
                @include text($color-gray-primary, $fs-1 - 1, $fw-2);
            }
            &:hover {
                .time-from {
                    color: $color-red-primary;
                }
            }
        }
    }
    @include respond-to('sm') {
        .nav-link {
            opacity: 1;
        }
    }
}