#cinema {
    .cinema__content {
        display: flex;
        .cinema__icon {
            flex: 1;
            .cinema__icon-nav {
                border: 1px solid $color-white-1;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                .nav-item {
                    .nav-link {
                        text-align: center;
                        padding: $pd-3;
                        opacity: 0.5;
                        border: none;
                        transition: all 0.4s;
                        &:hover {
                            opacity: 1;
                        }
                        &.active {
                            opacity: 1;
                            color: transparent;
                            background-color: transparent;
                        }
                        img {
                            width: 50px;
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 70%;
                        margin: auto;
                        height: 1px;
                        background-color: $color-white-1;
                    }
                }
            }
        }
        .cinema__stage {
            flex: 3;
            border-top: 1px solid $color-white-1;
            border-bottom: 1px solid $color-white-1;
            .cinema__stage-content {
                .nav-item {
                    .nav-link {
                        padding: 0;
                        opacity: 0.5;
                        transition: all 0.4s;
                        &:hover, &.active {
                            opacity: 1;
                        }
                        .cinema__stage-item {
                            display: flex;
                            padding: $pd-3 $pd-2 $pd-2 $pd-3;
                            text-decoration: none;
                            img {
                                width: 50px;
                                height: 50px;
                            }
                            .stage__info {
                                .stage__location {
                                    @include text($color-gray-3, $fs-1, $fw-1);
                                }
                                .detail {
                                    @include text($color-red-primary, $fs-1, $fw-1);
                                }
                            }
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 90%;
                        margin: auto;
                        height: 1px;
                        background-color: $color-white-1;
                    }
                }
            }
        }
        .cinema__movie {
            flex: 7;
            max-height: 506px;
            border: 1px solid $color-white-1;
            overflow-y: auto;
            .movie__item {
                padding: $pd-3;
                .movie__item-top {
                    display: flex;
                    align-items: center;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    .movie__info {
                        .info__title {
                            @include text($color-black-0, $fs-0, $fw-3);
                        }
                        .info_statistic {
                            @include text($color-gray-primary, $fs-0, $fw-0);
                        }
                    }
                }
                .movie__item-bot {
                    h1 {
                        @include text($color-black-0, $fs-1, $fw-2);
                    }
                    .show-time__list {
                        display: flex;
                        flex-wrap: wrap;
                        .show-time__item {
                            text-decoration: none;
                            border: 1px solid $color-gray-4;
                            border-radius: 7px;
                            padding: $pd-1;
                            margin: 0 $mg-1 $mg-1 0;
                            .time-from {
                                @include text($color-green-2, $fs-1, $fw-2);
                            }
                            .time-to {
                                @include text($color-gray-primary, $fs-0, $fw-2);
                            }
                            &:hover {
                                .time-from {
                                    color: $color-red-primary;
                                }
                            }
                        }
                    }
                    
                }
                &::after {
                    content: "";
                    display: block;
                    width: 90%;
                    margin: auto;
                    margin-top: $mg-2;
                    height: 1px;
                    background-color: $color-white-1;
                }
            }
            
        }

        @include respond-to('sm') {
            flex-direction: column;
            .cinema__icon-nav {
                flex-direction: row !important;
                align-items: flex-end;
                border: none !important;
                .nav-link {
                    padding: $pd-3 - 3 !important;    
                }
            }
        }
        @include respond-to('xs') {
            flex-direction: column;
            .cinema__icon-nav {
                flex-direction: row !important;
                align-items: flex-end;
                justify-content: space-between;
                border: none !important;
                .nav-link {
                    padding: $pd-0 !important;    
                }
            }
        }
    }
}