footer {
    background-color: $color-black-2;
    .title-header {
        @include text($color-white-0, $fs-0 + 2, $fw-1);
    }
    a {
        @include text($color-gray-3, $fs-0 + 2, $fw-3);
        line-height: 2.3;
        text-decoration: none !important;
        transition: all 0.4s;
        &:hover {
            color: $color-white-0;
            font-weight: bold;
        }
    }
    .partner-content {
        width: 70%;
        margin: auto;
        .partner-content__icon {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 15px 15px;
            a {
                img {
                    width: 30px;
                    background-color: $color-white-0;
                    border-radius: 50%;
                    transition: all 0.3s;
                }
                &:hover {
                    filter: brightness(50%);
                }
            }
        }
    }
    .icon-app {
        height: 30px;
        margin: 0 $mg-0;
    }
    .line {
        height: 1px;
        background-color: $color-gray-3;
    }
    .footer__bot {
        @include text($color-gray-3, $fs-0 + 2, $fw-2);
        .logo-company {
            width: 80px;
            border-radius: 8px;
        }
        .support {
            @include text($color-red-primary, $fs-0 + 2, $fw-2);
        }
        .logo-bct {
            width: 130px;
        }
    }
}