@import 'helper/variable';
@import 'helper/mixin';

.board-showtime {      
    height: 710px;   
    background-color: $color-white-0;
    border-radius: 6px;
    display: flex;
    ul {
        border-right: 1px solid $color-gray-1;
        list-style: none;
        width: 27%;
        li {
            padding: $pd-3;
            border-bottom: 1px solid $color-gray-1;
            opacity: 0.5;
            transition: all 0.3s;
            &.active {
                opacity: 1;
            }
            span {
                margin-left: $mg-1;
                @include text($color-black-0, $fs-1 + 1, $fw-2);
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    .showtime {
        width: 73%;
        &__date {
            display: flex;
            overflow: auto;
            padding: $pd-1 0px;
            .btn-date {
                min-width: 95px;
                p {
                    @include text($color-black-0, $fs-1 - 1, $fw-2);
                }
                span {
                    @include text($color-black-0, $fs-2, $fw-2);
                }
                &.active {
                    p {
                        @include text($color-red-primary, $fs-1 - 1, $fw-2);
                    }
                    span {
                        @include text($color-red-primary, $fs-2, $fw-2);
                    }
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
        &__movie {
            .movie__item {
                padding: $pd-3;
                .movie__item-top {
                    display: flex;
                    align-items: center;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    .movie__info {
                        .info__title {
                            @include text($color-black-0, $fs-1, $fw-2);
                        }
                        .info_statistic {
                            @include text($color-gray-primary, $fs-0 + 2, $fw-1);
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                .movie__item-bot {
                    h1 {
                        @include text($color-black-0, $fs-1 + 1, $fw-2);
                    }
                    .show-time__list {
                        display: flex;
                        flex-wrap: wrap;
                        .show-time__item {
                            text-decoration: none;
                            border: 1px solid $color-gray-4;
                            border-radius: 7px;
                            padding: $pd-1;
                            margin: 0 $mg-1 $mg-1 0;
                            .time-from {
                                @include text($color-green-2, $fs-1 + 3, $fw-2);
                            }
                            .time-to {
                                @include text($color-gray-primary, $fs-1, $fw-2);
                            }
                            &:hover {
                                .time-from {
                                    color: $color-red-primary;
                                }
                            }
                        }
                    }
                    
                }
                &::after {
                    content: "";
                    display: block;
                    width: 90%;
                    margin: auto;
                    margin-top: $mg-2;
                    height: 1px;
                    background-color: $color-white-1;
                }
            }
        }
    }

    @include respond-to('md') {
        height: auto;
        ul {
            display: none
        }
        .showtime {
            width: 100%;
        }
    }
}