.btn-buy-now {
    @include button($color-white-0, 
                    $color-gray-2, 
                    $fw-1, 
                    $fs-1, 
                    $color-gray-2, 
                    4px,
                    $pd-1,
                    $pd-4);
}

.btn-buy-ticket {
    width: 100%;
    @include button($color-white-0, 
                    $color-red-primary, 
                    $fw-2, 
                    $fs-2 - 2, 
                    $color-red-primary, 
                    4px,
                    $pd-1,
                    $pd-1);
}

.btn-buy-ticket-detail {
    @include button($color-white-0, 
                    $color-red-primary, 
                    $fw-2, 
                    $fs-1 + 1, 
                    $color-red-primary, 
                    4px,
                    $pd-0 + 2,
                    $pd-4);
    transition: all 0.3s;
    &:hover {
        background-color: #862a1c;
        border-color: #862a1c;
    }
}

.btn-more {
    margin: auto;
    @include button($color-gray-3, 
                    transparent, 
                    $fw-2, 
                    $fs-1, 
                    $color-gray-3, 
                    4px,
                    $pd-1 - 3,
                    $pd-4);
    transition: all 0.3s;
    &:hover {
        color: $color-white-0;
        background-color: $color-red-primary;
        border-color: $color-red-primary;
    }
    &:focus {
        outline: none;
    }
}

.btn-get-app {
    @include button($color-white-0, 
                    $color-red-primary, 
                    $fw-3, 
                    $fs-1 + 1, 
                    $color-red-primary, 
                    4px,
                    $pd-1,
                    $pd-2);
}

.btn-login-social {
    @include button($color-white-0, 
                    #2f4d84, 
                    $fw-2, 
                    $fs-2, 
                    transparent, 
                    50%,
                    0,
                    0);
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    &:hover {
        color: $color-white-0;
        filter: brightness(60%);
    }
}

.btn-login-facebook {
    @extend .btn-login-social;
}

.btn-login-google {
    @extend .btn-login-social;
    background-color: #bb4628;
}

.btn-login-twitter {
    @extend .btn-login-social;
    background-color:#1da1f2;
}

.btn-close {
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #081630;
    box-shadow: -3px 5px $fs-1 rgba($color: $color-black-0, $alpha: 0.6);
    border-radius: 50%;
    .btn-login-close {
        @include text(#455570, $fs-2, $fw-0);
    }
}

.btn-apply {
    @include button($color-white-0, 
                    $color-gray-3, 
                    $fw-1, 
                    $fs-1 - 2, 
                    $color-gray-1, 
                    4px,
                    $pd-0,
                    $pd-0);
}

.btn-book {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(223deg,#b4ec51 0,#429321 100%);
    @include button($color-white-0, 
                    transparent, 
                    $fw-1, 
                    $fs-2 + 2, 
                    $color-gray-1, 
                    0px,
                    $pd-0,
                    $pd-0);
    &:focus {
        outline: none;
    }
}

.btn-continue {
    @include button($color-white-0, 
                    $color-gray-3, 
                    $fw-1, 
                    $fs-2, 
                    $color-gray-3, 
                    0px,
                    $pd-0,
                    $pd-0);
}