#movie-detail {
    margin-top: 60px;
    background-color: rgb(10, 32, 41);
    .info {
        position: relative;
        z-index: 5;
        overflow: hidden;
        .movie-bg {
            width: 100%;
            height: 100%;
            filter: blur(15px);
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%);
            display: flex;
            align-items: center;
            .detail {
                .trailer {
                    display: flex;
                    align-items: center;
                    .trailer__content {
                        position: relative;
                        &:hover {
                            .trailer__content-video {
                                opacity: 1;
                            }
                        }
                        .trailer__content-image {
                            border-radius: 6px;
                        }
                        .trailer__content-video {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            transition: all 0.3s;
                        }
                    }
                    .trailer__description {
                        margin-left: $mg-3;
                        .description__date {
                            @include text($color-gray-1, $fs-1, $fw-2);
                        }
                        &-title {
                            @include text($color-gray-1, $fs-3, $fw-2);
                        }
                        &-time {
                            @include text($color-gray-1, $fs-1, $fw-1);
                        }
                    }
                }
                .rate {
                    text-align: center;
                    .rate-percent {
                        width: 126px;
                        height: 126px;
                        border-radius: 50%;
                        background-color: rgba(0,0,0,.4);
                        margin: 0 auto;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .circle-border {
                            width: 111px;
                            height: 111px;
                            border-radius: 50%;
                            border: 7.5px solid #3a3a3a;
                            position: absolute;
                            top: 0;
                            left: 0;
                            box-sizing: content-box;
                        }
                        .point-group {
                            width: 126px;
                            height: 126px;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            .point-bar {
                                clip-path: polygon(50% 0%, 100% 0px, 100% 100%, 0px 100%, 0px 0px, 0px 37.5676%, 50% 50%);
                                width: 111px;
                                height: 111px;
                                border-radius: 50%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border: 8px solid $color-green-3;
                                box-sizing: content-box;
                            }
                        }
                        .point {
                            @include text($color-white-0, $fs-4 + 20px, $fw-1);
                        }
                    }
                    .txt-rate {
                        @include text($color-gray-1, $fs-1, $fw-2);
                    }
                }
            }
        }
    }
    .show-time {
        position: relative;
        margin-top: -80px;
        padding-bottom: 70px;
        z-index: 100;
        .show-time__nav {
            border: none;
            align-items: baseline;
            justify-content: center;
            margin-bottom: $mg-4;
            .nav-item {
                .nav-link {
                    border: none;
                    padding: $pd-1 $pd-2;
                    @include text($color-white-0, $fs-2, $fw-2);
                    transition: all 0.3s;
                    &.active {
                        background: transparent;
                        cursor: context-menu;
                        @include text($color-red-primary, $fs-2 + 2, $fw-2);
                    }
                    &:hover {
                        font-size: $fs-2 + 2;
                    }
                }
            }
        }
        .board-showtime {         
            height: 710px;   
            background-color: $color-white-0;
            border-radius: 6px;
            display: flex;
            ul {
                border-right: 1px solid $color-gray-1;
                list-style: none;
                width: 27%;
                li {
                    padding: $pd-3;
                    border-bottom: 1px solid $color-gray-1;
                    opacity: 0.5;
                    transition: all 0.3s;
                    &.active {
                        opacity: 1;
                    }
                    span {
                        margin-left: $mg-2;
                        @include text($color-black-0, $fs-1 + 1, $fw-2);
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .showtime {
                width: 73%;
                &__date {
                    display: flex;
                    overflow: auto;
                    padding: $pd-1 0px;
                    .btn-date {
                        min-width: 95px;
                        p {
                            @include text($color-black-0, $fs-1 - 1, $fw-2);
                        }
                        span {
                            @include text($color-black-0, $fs-2, $fw-2);
                        }
                        &.active {
                            p {
                                @include text($color-red-primary, $fs-1 - 1, $fw-2);
                            }
                            span {
                                @include text($color-red-primary, $fs-2, $fw-2);
                            }
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
                &__movie {
                    .movie__item {
                        padding: $pd-3;
                        .movie__item-top {
                            display: flex;
                            align-items: center;
                            img {
                                width: 50px;
                                height: 50px;
                            }
                            .movie__info {
                                .info__title {
                                    @include text($color-black-0, $fs-1, $fw-2);
                                }
                                .info_statistic {
                                    @include text($color-gray-primary, $fs-0 + 2, $fw-1);
                                }
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .movie__item-bot {
                            h1 {
                                @include text($color-black-0, $fs-1 + 1, $fw-2);
                            }
                            .show-time__list {
                                display: flex;
                                flex-wrap: wrap;
                                .show-time__item {
                                    text-decoration: none;
                                    border: 1px solid $color-gray-4;
                                    border-radius: 7px;
                                    padding: $pd-1;
                                    margin: 0 $mg-1 $mg-1 0;
                                    .time-from {
                                        @include text($color-green-2, $fs-1 + 3, $fw-2);
                                    }
                                    .time-to {
                                        @include text($color-gray-primary, $fs-1, $fw-2);
                                    }
                                    &:hover {
                                        .time-from {
                                            color: $color-red-primary;
                                        }
                                    }
                                }
                            }
                            
                        }
                        &::after {
                            content: "";
                            display: block;
                            width: 90%;
                            margin: auto;
                            margin-top: $mg-2;
                            height: 1px;
                            background-color: $color-white-1;
                        }
                    }
                }
            }
        }
    }
}